.main-banner {
    background: #000000;
    position: relative;
}

.main-banner__content {
    background: url(../../../images/GiantPanda.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 700px;*/
    max-width: 1600px;
    z-index: -1;
    padding: 86px 0 100px;
    box-sizing: border-box;
}

.main-banner__title {
    position: relative;
    margin: 0 220px 60px auto;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    /* or 80px */

    text-align: center;
    text-transform: uppercase;
    width: 500.13px;
    color: #FFFFFF;
    z-index: 1;
}

.main-banner__circle {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    position: absolute;
    content: '';
    width: 465px;
    height: 465px;
    border-radius: 50%;
    top: 12px;
    right: 328px;
    z-index: 0;
}

.main-banner__title_focus {
    color: #FFEE2E;
}

.main-banner__button {
    display: block;
    margin: 0 319px 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 1599px){
    .main-banner__title {
        margin: 0 85.75px 40.2px auto;
        font-weight: 700;
        font-size: 85px;
        line-height: 64px;
        width: 400px;
    }

    .main-banner__circle {
        top: -11px;
        right: 177px;
        width: 367px;
        height: 367px;
    }

    .main-banner__button {
        margin-right: 137px;
    }

    .main-banner__content {
        padding: 42.8px 0 47px;
        background-size: 120%;
    }
}

