.testimonials__content {
    margin: 0 auto;
    max-width: 1160px;
    padding: 140px 0 180px;
    background-image: url(../../../images/leav_foto.png);
    background-repeat: no-repeat;
    background-position: bottom -140px right;
}

.testimonials__heading {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    text-align: center;
    margin: 0 auto 47px;
}

.feedback-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 0 auto 21px;
    gap: 0 29px;
}

.feedback-card {
    border-radius: 20px;
    width: 268px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 14px 14px 18px 15px;
}

.feedback-card__header {
    display: flex;
    margin-bottom: 4px;
}

.feedback-card__description {
    height: 309px;
    overflow: hidden;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #767474;
}

.feedback-card__text {
    margin: 0;
}

.feedback-card__avatar {
    width: 37px;
    height: 37px;
    margin: 0 10px 0 0;
}

.feedback-card__inf {
    display: flex;
    flex-wrap: wrap;
    color: #BDBDBD;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.feedback-card__name {;
    font-weight: 400;
    width: 100%;
    font-size: 16px;
    line-height: 120%;
    margin: 0 auto 1px 0;

    color: #000000;
}

.feedback-card__location{
    margin: 0 16px 0 0;
}

.feedback-card__date {
    margin: 0 auto 0 0;
}


.testimonials__line-scroll {
    width: 599px;
    height: 8px;
    margin: 0 auto 31px;
    box-sizing: border-box;
    position: relative;
    display: block;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}

.testimonials__button {
    display: block;
    line-height: 22px;
}

.line-scroll__active-part {
    position: absolute;
    width: 115.19px;
    height: 6px;
    background-color: #FE9013;
}

.line-scroll__active-part:hover {
    background: #F9804B;
}

.line-scroll__active-part:active {
    background: #4B9200;
}

@media screen and (min-width: 1000px) {
    .testimonials__content {
        width: 940px;

    }
    .feedback-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: 0;
        margin: 0 auto 21px;
        gap: 0 29px;
        overflow: hidden;
    }

}
