.pets {
    padding: 40px 140px 100px 138px;
    background-image: url(../../../images/palm_foto.png), url(../../../images/strelitzia1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
    display: flex;
    flex-direction: column;
}
.pets__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 80px;
}

.pets__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
    margin: 0 20px;
}

.pets__list-item {
    display: flex;
    flex-direction: column;
    width: 366px;
    overflow: hidden;
}



.pets__button_ctrl {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    /*content: url(../../../icons/arrow-icon.svg);*/
}

.pets__button_next {
    transform: rotate(180deg);
}

.pets__img {
    width: 366px;
    height: 365px;
    object-fit: contain;
}

.pets__img:hover {
    transform: scale(1.055);
}

.pets__img:hover + .pets__body {
    background: #BDBDBD;
}
.pets__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7px 12px 12px 16px;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
}


.pets__animal {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.pets__geo {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.pets__icon {
    object-fit: contain;
}

.pets__button_link {
    margin: 0 auto;
}
