.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.link:hover {
    color: #4B9200;
    transition: color 1s;

}

.link:active {
    color: #FE9013;
    transition: color 2s;
}
